.menu {
  display: flex;
  flex-direction: column;
  background-color: #001e2b;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(#404040, 0.15);
}
.menu-list {
  margin: 0;
  display: block;
  width: 100%;
  padding: 8px;
  & + .menu-list {
    border-top: 1px solid #ddd;
  }
}
.menu-item {
  position: relative;
}
.menu-button {
  font: inherit;
  border: 0;
  padding: 8px 8px;
  padding-right: 36px;
  width: 100%;
  border-radius: 8px;
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #001e2b;
  font-size: 1.5rem;
  color: #fff;

  &:hover {
    background-color: #898c94;
    & + .menu-sub-list {
      display: flex;
    }
    svg {
      stroke: #3a3c42;
    }
  }
  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    &:nth-of-type(2) {
      margin-right: 0;
      position: absolute;
      right: 8px;
    }
  }

  &--delete {
    &:hover {
      color: #d92027;
      svg:first-of-type {
        stroke: #d92027;
      }
    }
  }
}
.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.menu-sub-list {
  display: none;
  padding: 8px;
  background-color: #001e2b;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(#404040, 0.15);
  position: absolute;
  left: 100%;
  z-index: 100;
  top: 0;
  flex-direction: column;
  &:hover {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}

.rename-input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font: inherit;
  font-size: 1.5rem;
  background-color: #fff;
  &:focus {
    border-color: #3a3c42;
  }
}
