@import "../../global.scss";

.interview_container {
  background-color: $real-white;
  padding: 2rem;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;

  .interview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9rem 1fr;
    height: calc(100vh - 4rem);
    background-color: $very-dark-gray;
    border-radius: 1.4rem;

    &_up {
      display: grid;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      color: $real-white;
      align-items: center;
    }

    &_down {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      padding: 0 3rem 9rem 0;


      display: grid;
      grid-template-columns: 8rem 1fr;
      grid-template-rows: 1fr;
      height: calc(100vh - 13rem);
      .interview_navigation {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .interview_content {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        overflow: hidden;
      }
    }
  }

}