@import "../../../global.scss";

.welcome {
  border-radius: 1.4rem;
  position: relative;
  .welcome_sub {
    height: 78.6rem;
    background-color: $very-dark-gray;
    border-radius: 1.4rem 1.4rem 1.4rem 0;
  }
  .backgroundImage {
    position: absolute;
    top: 32.2rem;
    // left: 39.625rem;
    right: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 29.0884rem 1fr;
    background-color: $white;

    .blackBox {
      background-color: $very-dark-gray;
      border-radius: 0 0 1.4rem 1.4rem;
    }
  }
}
