@import "../../../global.scss";

.aside {
  padding: 1.5rem 1rem;
  font-size: 1.2rem;
  background: #fcfcfc;
  color: #000;
  overflow-y: scroll;

  .description {
    margin-bottom: 10px;
  }
  .dndnode {
    padding: 1rem;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;

    &.input {
      border-color: #0041d0;
    }
    &.output {
      border-color: #ff0072;
    }
    &.actor {
      background-image: url("/diagram_actor.png");
      background-position: center;
      aspect-ratio: 1/1;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;

      .text {
        position: absolute;
        z-index: 1;
        bottom: 0.5rem;
      }
    }

    &.start {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      background-color: #000;
    }
    &.actionStateNode {
      border-radius: 1.4rem;
      padding: 2rem;
    }
    &.decision {
      width: 5rem;
      background-image: url("/decisionNode.png");
      background-position: center;
      aspect-ratio: 1/1;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
    }
    &.fork {
      background-image: url("/fork.png");
      background-position: center;
      aspect-ratio: 1/1;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      border: none;
      span {
        position: absolute;
        bottom: 3.5rem;
      }
    }
    &.join {
      background-image: url("/join.png");
      background-position: center;
      aspect-ratio: 1/1;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      border: none;
      span {
        position: absolute;
        bottom: 3.5rem;
      }
    }
  }
  .startNodeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
