@import "../../../global.scss";

.aside {
  padding: 1.5rem 1rem;
  font-size: 1.2rem;
  background: $very-dark-gray;
  color: $real-white;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  img {
    object-fit: contain;
    aspect-ratio: 1/1;
    height: 10rem;
  }

  .description {
    margin-bottom: 10px;
  }
  .dndnode {
    padding: 1rem;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }
}
