@import "../../../global.scss";

.horizontal {
  position: relative;
  cursor: pointer;
  border: 1rem solid $very-dark-gray;
  color: $real-white;

  .border_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.vertical {
  position: relative;
  cursor: pointer;
  border: 1rem solid $very-dark-gray;
  color: $real-white;
  .border_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translate(-50%, -50%) rotate(-90deg) scale(1.2);
    }
  }
}

