@import "../../global.scss";

.interview_navigation {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 28rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    svg {
        cursor: pointer;
    }
    &_list {
        overflow: scroll;
        &_item {
            user-select: none;
            cursor: pointer;
            font-size: 2rem;
            font-style: normal;
            font-weight: 300;
            line-height: 1.8rem; /* 90% */
            text-transform: uppercase;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */

            &:first-child {
                margin-top: 2.7rem;
            }
            &:last-child {
                margin-bottom: 4.2rem;
            }

            &:not(:last-child) {
                margin-bottom: 2.7rem;
            }
        }
        &_item.selected {
            font-size: 2.4rem;
            font-weight: 500;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

    }
}