@import "../../global.scss";

.navbar {
  padding-top: 5.9rem;
  padding-left: 11.3rem;
  * {
    color: $white;
    text-transform: uppercase;
  }
  img {
    width: 16.3rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;

    a {
      text-decoration: none;
    }
  }

  .firstChild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-right: 49.8rem;
  }
  .lastChild {
    display: flex;
    align-items: center;

    li {
      &:first-child {
        margin-right: 5rem;
        text-transform: uppercase;
        word-wrap: break-word;
      }
      &:last-child {
        margin-right: 13.3rem;
        background-color: $dark-gray;
        border: 1px solid $white;
        border-radius: 1rem;
        padding: 1.3rem 2.8rem;
        text-transform: uppercase;
        word-wrap: break-word;
      }
    }
  }
}
