@import "../../global.scss";

.navbar {
  margin-left: 7.0625rem;

  * {
    color: $white;
    text-transform: uppercase;
  }
  img {
    width: 10.1875rem;
  }
  ul {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
    }
  }

  .firstChild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-right: 31.125rem;
  }
  .lastChild {
    display: flex;
    align-items: center;

    li {
      &:first-child {
        margin-right: 3.125rem;
        text-transform: uppercase;
        word-wrap: break-word;
      }
      &:last-child {
        margin-right: 8.3125rem;
        background-color: $dark-gray;
        border: 1px solid $white;
        border-radius: 0.625rem;
        padding: 0.8125rem 1.75rem;
        text-transform: uppercase;
        word-wrap: break-word;
      }
    }
  }
}
