@import "../../../global.scss";

.outBorder_line {
  background-color: $very-dark-gray;

  @media (width<= 1024px) {
    grid-column: span 2;
  }
  .outerBorder {
    border: solid $white;
    border-width: 1.6rem 0 0 1.6rem;
    border-radius: 1.4rem 0 0 0;
    background-color: $white;
    position: relative;

    @media (width<= 1024px) {
      border-width: 0;
      border-radius: 0;
      padding-top: 1.6rem;
    }
    .trustedBy {
      background-color: $blue-gray;
      // width: 68.0625rem;
      height: 19.7rem;
      border-radius: 1.4rem;
      display: flex;
      flex-direction: column;
      @media (width <= 768px) {
        border-radius: 0;
      }

      @media (width <=500px) {
        height: auto;
      }
      .text {
        color: $white;
        text-transform: uppercase;
        text-align: center;
        margin-top: 3.484rem;
        font-size: 1.6rem;
        color: #f5f3f3;
        font-weight: 500;
        font-style: normal;
        line-height: normal;
      }

      .logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4.217rem 13.3rem 0 13.3rem;

        @media (width <= 1386px) {
          padding: 4.217rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1.5rem;
          place-items: center;
        }

        @media (367px<=width <=500px) {
          grid-template-columns: repeat(2, 1fr);
          gap: 2.5rem;
        }
        @media (width <=366px) {
          grid-template-columns: repeat(2, 1fr);
          gap: 2.5rem;
          padding: 1.5rem;
        }
      }
    }
  }
}
