.join {
  height: 7rem;
  color: black;
  border: 0.3rem solid black;

  .handleLeftUp {
    background-color: red;
    top: 1rem;
  }
  .handleLeftDown {
    background-color: red;
    top: 6rem;
  }

  .handleSource {
    background-color: red;
  }
}
