@import "../../../global.scss";

.container {
  position: relative;
  background-color: $very-dark-gray;
  color: $white;
  border-radius: 1.4rem;
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
  //   align-items: center;
  .grayBackground {
    flex: 1;
    display: inline-block;
    text-align: center;
    height: 40.8rem;
    // width: 79.625rem;
    border-radius: 4.5rem;
    margin: 5.6rem 6.1rem 32.64rem 6.1rem;
    background-color: $dark-gray;
    div {
      margin-top: 5.6rem;
      font-size: 4.3rem;
    }
  }
  .cards {
    background-color: $white;
    border-radius: 4.5rem;
    color: $very-dark-gray;
    position: absolute;
    display: flex;
    transition: all 0.5s;
    .content {
      margin: 14.6rem 47.5rem 23.6rem 4.3rem;

      @media (2277px <= width) {
        margin-right: 28.5rem;
      }
      @media (2136px <= width <= 2193px) {
        margin-right: 103.6rem;
      }
      @media (2123px <= width <= 2135px) {
        margin-right: 102.3rem;
      }
      @media (2065px <= width <= 2122px) {
        margin-right: 103.6rem;
      }
      @media (2052px <= width <= 2064px) {
        margin-right: 102.3rem;
      }
      @media (1981px <= width <= 2051px) {
        margin-right: 96.5rem;
      }
      @media (1981px <= width <= 1993px) {
        margin-right: 95.2rem;
      }
      @media (1923px <= width <= 1980px) {
        margin-right: 89.4rem;
      }
      @media (1910px <= width <= 1922px) {
        margin-right: 88.1rem;
      }
      @media (1840px <= width <= 1909px) {
        margin-right: 82.3rem;
      }
      @media (1770px <= width <= 1839px) {
        margin-right: 75.3rem;
      }
      @media (1700px <= width <= 1769px) {
        margin-right: 68.3rem;
      }
      @media (1629px <= width <= 1699px) {
        margin-right: 61.3rem;
      }
      @media (1571px <= width <= 1628px) {
        margin-right: 54.2rem;
      }
      @media (1562px <= width <= 1570px) {
        margin-right: 48.4rem;
      }
      @media (1446px <= width <= 1503px) {
        margin-right: 41.7rem;
      }
      @media (1388px <= width <= 1445px) {
        margin-right: 35.9rem;
      }
      @media (1330px<= width <= 1387px) {
        margin-right: 30.1rem;
      }
      @media (1272px<= width <= 1329px) {
        margin-right: 24.3rem;
      }
      @media (width <= 1271px) {
        margin-right: 18.5rem;
      }

      .title {
        color: $very-dark-gray;
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 2.1rem;
      }
      p {
        color: $text-color;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: justify;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      color: $very-dark-gray;
      font-size: 1.4rem;
      font-weight: 500;
      margin: 33.6rem 18.9rem 0 12.4rem;
      min-width: 14rem;

      @media (2475px <= width) {
        margin-left: 127.7rem;
      }
      @media (2405px <= width <=2474px) {
        margin-left: 122.7rem;
      }
      @media (2335px <= width <=2404px) {
        margin-left: 115.7rem;
      }
      @media (2277px <= width <=2334px) {
        margin-left: 108.7rem;
      }
      @media (2265px <= width <= 2276px) {
        margin-left: 88.5rem;
      }
      @media (2194px <= width <= 2264px) {
        margin-left: 82.7rem;
      }

      @media (2194px <= width <= 2206px) {
        margin-left: 81.4rem;
      }
      @media (2123px <= width <= 2193px) {
        margin-left: 19.5rem;
      }
      @media (1910px <= width <=1922px) {
        margin-left: 11.2rem;
      }
      @media (1898px <= width <= 1851px) {
        margin-left: 11.2rem;
      }
      @media (1840px <= width <= 1851px) {
        margin-left: 11.2rem;
      }
      @media (1770px <= width <= 1781px) {
        margin-left: 11.2rem;
      }
      @media (1700px <= width <= 1711px) {
        margin-left: 11.2rem;
      }
      @media (1629px <= width <= 1641px) {
        margin-left: 11.1rem;
      }
      @media (1156px <= width <= 1213px) {
        margin-left: 6.6rem;
      }
      @media (1098px <= width <= 1155px) {
        margin-left: 0.8rem;
      }
      @media (width <= 1097px) {
        margin-right: 13.1rem;
      }

      div {
        margin-bottom: 1rem;
      }
    }
  }

  #card1 {
    margin: 19rem 15.7rem 8.5rem 13.7rem;
    z-index: 3;
    transition: margin opacity 2s;
  }
  #card2 {
    margin: 21rem 15.7rem 8.5rem 13.7rem;
    z-index: 2;
    background: rgba(108, 123, 159, 0.4);
    width: 100.7rem;
    transition: margin 2s;
    * {
      font-size: 0.6rem;
    }
    @media (2051px <= width) {
      height: 51.5rem;
      width: 155rem;
    }
    @media (1856px <= width <=2050px) {
      height: 51.5rem;
      width: 137rem;
    }
    @media (1713px <= width <=1855px) {
      height: 51.5rem;
      width: 121rem;
    }
    @media (1562px <= width <=1712px) {
      height: 51.5rem;
      width: 110rem;
    }

    @media (1446px <= width <= 1503px) {
      height: 51.5rem;
    }
    @media (1351px<= width <=1445px) {
      height: 51.5rem;
      width: 93rem;
    }
    @media (1280px<= width <=1350px) {
      height: 51.5rem;
      width: 86rem;
    }
    @media (1201px<= width <=1279px) {
      height: 51.5rem;
      width: 80rem;
    }
    @media (1141px<= width <=1200px) {
      height: 51.5rem;
      width: 74rem;
    }
    @media (width <=1140px) {
      height: 51.5rem;
      width: 69rem;
    }
  }
  #card3 {
    margin: 22rem 15.7rem 8.5rem 13.7rem;
    z-index: 1;
    background: rgba(108, 123, 159, 0.2);

    width: 91.9258rem;
    transition: margin 2s;
    * {
      font-size: 0.6rem;
    }
    @media (2051px <= width) {
      height: 52.2rem;
      width: 141rem;
    }
    @media (1856px <= width <=2050px) {
      height: 52.2rem;
      width: 124rem;
    }
    @media (1713px <= width <=1855px) {
      height: 52.2rem;
      width: 110.8rem;
    }
    @media (1562px <= width <=1712px) {
      height: 52.2rem;
      width: 100.1rem;
    }
    @media (1351px<= width <= 1445px) {
      height: 52.2rem;
      width: 85rem;
    }
    @media (1280px< width <= 1350px) {
      height: 52.2rem;
      width: 78rem;
    }
    @media (1201px<= width <=1279px) {
      height: 51.5rem;
      width: 72.8rem;
    }
    @media (1141px <= width <=1200px) {
      height: 51.5rem;
      width: 67rem;
    }
    @media (width <=1140px) {
      height: 51.5rem;
      width: 62rem;
    }
  }

  .pageIndex {
    // cursor: pointer;
    position: absolute;
    bottom: 11rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 11.1rem;
    z-index: 999;
  }

  .nextBtn {
    cursor: pointer;
    position: absolute;
    right: 13.4rem;
    top: 44.2rem;
    bottom: 30.4rem;
    z-index: 999;
  }

  #firstIndex {
    fill: #16161b;
    fill-opacity: 1;
  }
  #secondIndex {
    fill: #6f7b9f;
    fill-opacity: 0.2;
  }
  #thirdIndex {
    fill: #6f7b9f;
    fill-opacity: 0.2;
  }
}
