
@import "../../global.scss";
.empty__interview__info__board__container {
  width: 100%;
  height: 90%;
  border: 1px solid $white;
  display: flex;
  justify-content: center;
  align-items: center;
}