$white: #f5f3f3;
$purple-gray: #918a9f;
$dark-gray: #383e50;
$light-gray: #657284;
$blue-gray: #6c7b9f;
$very-dark-gray: #16161b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Ubuntu", sans-serif;
}

ul {
  list-style: none;
}
