.decision {
  width: 100%;
  min-width: 5rem;
  min-height: 5rem;
  background-image: url("/decisionNode.png");
  background-position: center;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
